<h1>Common Libraries</h1>

<!-- Custom inputs -->
<icon-input icon="supervisor_account">
    <input type="text"
           name="user">
</icon-input>

<icon-input icon="search">
    <input type="text"
           name="user">
</icon-input>

<icon-input icon="list">
    <input type="text"
           name="user">
</icon-input>

<hr>

<!-- tab component with projected header -->
<ng-template #tabHeadings>
    <button (click)="panel.setSelected(bio)">First</button>
    <button (click)="panel.setSelected(edu)">Second</button>
    <button (click)="panel.setSelected(work)">Third</button>
</ng-template>

<div class="container">
    <app-tab-panel #panel
                   [headerTmpl]="tabHeadings">
        <app-tab #bio
                 title="Bio Info">
            <form>
                <div>Name: <input type="text"></div>
                <div>Age: <input type="text"></div>
                <div>Gender: <input type="text"></div>
            </form>
        </app-tab>

        <app-tab #edu
                 title="Educational Info">
            <form>
                <div>School: <input type="text"></div>
                <div>Study: <input type="text"></div>
                <div>Grade: <input type="text"></div>
            </form>
        </app-tab>

        <app-tab #work
                 title="Work Experience">
            <form>
                <div>Last Place you Worked: <input type="text"></div>
                <div>Current Place: <input type="text"></div>
                <div>Current Role: <input type="text"></div>
            </form>
        </app-tab>
    </app-tab-panel>
</div>

<hr>

<!-- Custom Modal -->
